futurepipedf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "futurepipedf"
		},
		"futurepipecosmsodb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'futurepipecosmsodb'"
		},
		"futurepipedocai_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'futurepipedocai'"
		},
		"futurepipeblobstorage_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://futurestorage.blob.core.windows.net/"
		},
		"futurepipedocai_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pipeai.cognitiveservices.azure.com/"
		},
		"futurepipedocai_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "future.pipe"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/futurepipleine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Input_Meta_Data",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "futurepipebinary",
								"type": "DatasetReference",
								"parameters": {
									"sasurl": {
										"value": "@pipeline().parameters.sasurl",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Input_Meta_Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Input_Meta_Data').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Doc_Analyze",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"\tOcp-Apim-Subscription-Key": "8SJCDESgLo0LIZ7XW7qpOpPmk69c95xlBMMti1d5rkGLhVYYoNaUJQQJ99BKACGhslBXJ3w3AAALACOG7p6V"
										},
										"linkedServices": [
											{
												"referenceName": "futurepipedocai",
												"type": "LinkedServiceReference"
											}
										],
										"url": "https://pipeai.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-layout:analyze?api-version=2024-02-29",
										"body": {
											"value": "@concat('{ \"urlSource\": \"', pipeline().parameters.sasurl, '/', item().name, '\" }')",
											"type": "Expression"
										},
										"authentication": {
											"type": "Basic",
											"username": "future_pipe",
											"password": {
												"type": "SecureString",
												"value": "**********"
											}
										}
									}
								},
								{
									"name": "save_to_processed",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Doc_Analyze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "WeActivityOutput",
													"value": {
														"value": "@string(activity('Doc_Analyze').output.ADFWebActivityResponseHeaders)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dummydataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "futurepipeoutput",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"sasurl": {
						"type": "string",
						"defaultValue": "https://futurestorage.blob.core.windows.net/raw-docs?sp=rl&st=2025-11-28T20:09:43Z&se=2025-11-30T04:24:43Z&spr=https&sv=2024-11-04&sr=c&sig=eD1hsuXsiZAHtFPvmQRO8e7Bzmb7M%2F1AZwVmgpp%2FOZo%3D"
					},
					"resultcontainersas": {
						"type": "string",
						"defaultValue": "https://futurestorage.blob.core.windows.net/processed?sp=ral&st=2025-11-26T20:40:55Z&se=2025-11-28T04:55:55Z&spr=https&sv=2024-11-04&sr=c&sig=TlfLydnIG4tJT%2BUcc6zn4fjXCYrAtMwAEXL%2FB4xqN5c%3D"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/futurepipebinary')]",
				"[concat(variables('factoryId'), '/linkedServices/futurepipedocai')]",
				"[concat(variables('factoryId'), '/datasets/dummydataset')]",
				"[concat(variables('factoryId'), '/datasets/futurepipeoutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipebinary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "futurepipeblobstorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sasurl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "raw-docs"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/futurepipeblobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipecosmosOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "futurepipecosmsodb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "documents"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/futurepipecosmsodb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipeblobstorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('futurepipeblobstorage_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipecosmsodb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('futurepipecosmsodb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipedocai')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('futurepipedocai_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('futurepipedocai_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('futurepipedocai_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipeoutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "futurepipeblobstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "processed"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/futurepipeblobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dummydataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "futurepipeblobstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "dummy.txt",
						"container": "temp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/futurepipeblobstorage')]"
			]
		}
	]
}