pipeline/futurepipleine_copy1.json
{
	"name": "futurepipleine_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Input_Meta_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Input_Meta_Data').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Doc_Analyze",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Ocp-Apim-Subscription-Key": "8SJCDESgLo0LIZ7XW7qpOpPmk69c95xlBMMti1d5rkGLhVYYoNaUJQQJ99BKACGhslBXJ3w3AAALACOG7p6V",
									"Content-Type": "application/json"
								},
								"url": "https://pipeai.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read:analyze?api-version=2024-11-30",
								"body": {
									"value": "@json(concat(\n  '{\"urlSource\":\"https://futurestorage.blob.core.windows.net/raw-docs/',\n  item().name,'?',\n  pipeline().parameters.sasToken,\n  '\"}'\n))\n\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Final_Output",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Ocp-Apim-Subscription-Key": "8SJCDESgLo0LIZ7XW7qpOpPmk69c95xlBMMti1d5rkGLhVYYoNaUJQQJ99BKACGhslBXJ3w3AAALACOG7p6V"
								},
								"url": {
									"value": "@activity('Doc_Analyze').output.ADFWebActivityResponseHeaders['Operation-Location']\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "save_to_processed",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "WebActivityOutput",
											"value": {
												"value": "@string(activity('Final_Output').output.analyzeresult.content)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dummydataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "futurepipeoutput",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "save_result_to_blob",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Final_Output",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "PUT",
								"headers": {
									"x-ms-blob-type": "BlockBlob",
									"Content-Type": "application/json"
								},
								"url": {
									"value": "@concat(\n  'https://futurestorage.blob.core.windows.net/processed/',\n  replace(\n    replace(\n      replace(item().name, '.jpeg', ''),\n      '.jpg', ''\n    ),\n    '.png', ''\n  ),\n  '.json?',\n  pipeline().parameters.processedsastoken\n)",
									"type": "Expression"
								},
								"body": {
									"value": "@if(\n  contains(activity('Final_Output').output, 'analyzeResult'),\n  string(activity('Final_Output').output.analyzeResult.content),\n  string(activity('Final_Output').output)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Doc_Analyze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 20
							}
						}
					]
				}
			},
			{
				"name": "Input_Meta_Data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "futurepipebinary",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			}
		],
		"parameters": {
			"sasToken": {
				"type": "string",
				"defaultValue": "sp=r&st=2025-12-11T04:44:34Z&se=2025-12-11T12:59:34Z&spr=https&sv=2024-11-04&sr=c&sig=RCChQLTf0adlWdGpHejGU7Qz%2FkKGPy2eObQ%2FSRWSp84%3D"
			},
			"processedsastoken": {
				"type": "string",
				"defaultValue": "sp=racw&st=2025-12-11T05:29:07Z&se=2025-12-11T13:44:07Z&spr=https&sv=2024-11-04&sr=c&sig=iJ2sk%2BUF161kb05sV8pswPHW6ZAHIWIDmpv027SH2hg%3D"
			}
		},
		"annotations": []
	}
}