futurepipedf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "futurepipedf"
		},
		"futurepipecosmsodb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'futurepipecosmsodb'"
		},
		"futurepipedocai_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'futurepipedocai'"
		},
		"futurepipeblobstorage_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://futurestorage.blob.core.windows.net/"
		},
		"futurepipedocai_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pipeai.cognitiveservices.azure.com/"
		},
		"futurepipedocai_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "future.pipe"
		},
		"BlobUploadTrigger_properties_futurepipleine_copy1_parameters_sasToken": {
			"type": "string",
			"defaultValue": "sp=r&st=2025-12-09T16:56:22Z&se=2025-12-09T19:00:22Z&spr=https&sv=2024-11-04&sr=c&sig=NT3E6A6xaBMvOoY8TvKMbjc%2FX%2FW9f74jkFjDohtZDC4%3D"
		},
		"BlobUploadTrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/876eec15-65a4-4faa-891e-69b1efd6308a/resourceGroups/Future_pipe/providers/Microsoft.Storage/storageAccounts/futurestorage"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/futurepipeblobstorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('futurepipeblobstorage_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipecosmsodb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('futurepipecosmsodb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipedocai')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('futurepipedocai_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('futurepipedocai_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('futurepipedocai_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dummydataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "futurepipeblobstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "dummy.txt",
						"container": "temp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/futurepipeblobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipebinary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "futurepipeblobstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "raw-docs"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/futurepipeblobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipecosmosOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "futurepipecosmsodb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "documents"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/futurepipecosmsodb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipeoutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "futurepipeblobstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "processed"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/futurepipeblobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipleine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Input_Meta_Data",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "futurepipebinary",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Input_Meta_Data').output.childItems",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Doc_Analyze",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Input_Meta_Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Ocp-Apim-Subscription-Key": "8SJCDESgLo0LIZ7XW7qpOpPmk69c95xlBMMti1d5rkGLhVYYoNaUJQQJ99BKACGhslBXJ3w3AAALACOG7p6V",
								"Content-Type": "application/json"
							},
							"url": "https://pipeai.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read:analyze?api-version=2024-11-30",
							"body": {
								"value": "{\n  \"urlSource\": \"https://futurestorage.blob.core.windows.net/raw-docs/test_image.jpeg?sp=r&st=2025-12-03T18:37:34Z&se=2025-12-05T02:52:34Z&spr=https&sv=2024-11-04&sr=b&sig=OWWwKG6wmdA7Rzt6QvXI4Vxejgko9seuZ0jO7GKjI8s%3D\"\n}\n",
								"type": "Expression"
							},
							"authentication": {
								"type": "Basic",
								"username": "future_pipe",
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					},
					{
						"name": "save_to_processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Final_Output",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "WebActivityOutput",
										"value": {
											"value": "@string(activity('Final_Output').output.analyzeresult.content)",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dummydataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "futurepipeoutput",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Final_Output",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Doc_Analyze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Ocp-Apim-Subscription-Key": "8SJCDESgLo0LIZ7XW7qpOpPmk69c95xlBMMti1d5rkGLhVYYoNaUJQQJ99BKACGhslBXJ3w3AAALACOG7p6V"
							},
							"url": "https://pipeai.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read/analyzeResults/83ece27c-c86e-4d4d-a1e2-097f0f01c5de?api-version=2024-11-30"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/futurepipebinary')]",
				"[concat(variables('factoryId'), '/datasets/dummydataset')]",
				"[concat(variables('factoryId'), '/datasets/futurepipeoutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/futurepipleine_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Input_Meta_Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Input_Meta_Data').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Doc_Analyze",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Ocp-Apim-Subscription-Key": "8SJCDESgLo0LIZ7XW7qpOpPmk69c95xlBMMti1d5rkGLhVYYoNaUJQQJ99BKACGhslBXJ3w3AAALACOG7p6V",
											"Content-Type": "application/json"
										},
										"url": "https://pipeai.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read:analyze?api-version=2024-11-30",
										"body": {
											"value": "@json(concat(\n  '{\"urlSource\":\"https://futurestorage.blob.core.windows.net/raw-docs/',\n  item().name,'?',\n  pipeline().parameters.sasToken,\n  '\"}'\n))\n\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Final_Output",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Doc_Analyze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {
											"Ocp-Apim-Subscription-Key": "8SJCDESgLo0LIZ7XW7qpOpPmk69c95xlBMMti1d5rkGLhVYYoNaUJQQJ99BKACGhslBXJ3w3AAALACOG7p6V"
										},
										"url": {
											"value": "@activity('Doc_Analyze').output.ADFWebActivityResponseHeaders['Operation-Location']\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "save_to_processed",
									"type": "Copy",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "WebActivityOutput",
													"value": {
														"value": "@string(activity('Final_Output').output.analyzeresult.content)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dummydataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "futurepipeoutput",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Wait1",
									"type": "Wait",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 10
									}
								},
								{
									"name": "save_result_to_blob",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Final_Output",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {
											"x-ms-blob-type": "BlockBlob",
											"Content-Type": "application/json"
										},
										"url": {
											"value": "@concat(\n  'https://futurestorage.blob.core.windows.net/processed/',\n  replace(\n    replace(\n      replace(item().name, '.jpeg', ''),\n      '.jpg', ''\n    ),\n    '.png', ''\n  ),\n  '.json?',\n  pipeline().parameters.processedsastoken\n)",
											"type": "Expression"
										},
										"body": {
											"value": "@string(activity('Final_Output').output.analyzeresult.content)",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Input_Meta_Data",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "futurepipebinary",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"sasToken": {
						"type": "string",
						"defaultValue": "sp=r&st=2025-12-10T15:30:22Z&se=2025-12-11T23:45:22Z&spr=https&sv=2024-11-04&sr=c&sig=iM8V%2FEzZQz4gM60%2FmF2wlX0grlvjLoYrV5GOx5hBERY%3D"
					},
					"processedsastoken": {
						"type": "string",
						"defaultValue": "sp=racw&st=2025-12-10T15:29:44Z&se=2025-12-11T23:44:44Z&spr=https&sv=2024-11-04&sr=c&sig=ZlMYW%2FzzsaC8%2FrippZJW98zh2S3GmwwH%2FqycwLc2DpU%3D"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/futurepipebinary')]",
				"[concat(variables('factoryId'), '/datasets/dummydataset')]",
				"[concat(variables('factoryId'), '/datasets/futurepipeoutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobUploadTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "futurepipleine_copy1",
							"type": "PipelineReference"
						},
						"parameters": {
							"sasToken": "[parameters('BlobUploadTrigger_properties_futurepipleine_copy1_parameters_sasToken')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/raw-docs/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('BlobUploadTrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/futurepipleine_copy1')]"
			]
		}
	]
}